!.gitignore
!composer.lock
*.bak
*.lock
*.tar
*.tgz
*.zip
*~
.DS_Store
.Trash-1000
.phpintel/
.vscode/
REVISIONS
Thumbs.db
VERSION
_site_cfg.sh
app/*.json
app/config_private.neon
ci/**
data/**
doc/phpdoc-cache-*
logs/**
node_modules/**
package-lock.json
temp/**
vendor/**
www/cdn-assets**
www/download
www/upload