!.gitignore
!composer.lock
*.bak
*.csv
*.lock
*.tar
*.tgz
*.zip
*~
.DS_Store
.Trash-1000
.phpintel/
.vscode/
Thumbs.db
VERSION
_site_cfg.sh
cache/*
ci/*
config_private.neon
data/*
logs/*
node_modules/
package-lock.json
temp/*
vendor/
www/cdn-assets
XML/*
