### TESSERACT MINI

#dbg: TRUE

# CORE
app: mini
canonical_url: "https://mini.gscloud.cz/"
date_default_timezone: "Europe/Prague"
project: TESSERACT
secret_cookie_key: secure.key
version: v1

# GCP
gcp_project_id: "gscloudcz-163314"

# Google OAUTH 2.0
goauth_origin: "https://mini.gscloud.cz"
goauth_redirect: "https://mini.gscloud.cz/login"
local_goauth_origin: "http://localhost:8022"
local_goauth_redirect: "http://localhost:8022/login"

# ALPHA/BETA
alpha_hosts: [
  mini
  amini.gscloud.cz
]
beta_hosts: [
  mini
  bmini.gscloud.cz
]
multisite_profiles: [
  default: [
    mini
    amini.gscloud.cz
    bmini.gscloud.cz
  ]
]


# locales
lang: en
l:
  title: "Tesseract MINI"
  author: "Fred Brooker @ GS Cloud Ltd."
