{{#l.company_facebook}}

<div class="fb-page" 
  data-href="{{ l.company_facebook }}"
  data-tabs="{{#l.company_facebook_tabs}}{{ l.company_facebook_tabs }}{{/l.company_facebook_tabs}}{{^l.company_facebook_tabs}}timeline,messages{{/l.company_facebook_tabs}}"
  data-width="{{#l.company_facebook_width}}{{ l.company_facebook_width }}{{/l.company_facebook_width}}{{^l.company_facebook_width}}340{{/l.company_facebook_width}}"
  data-height="{{#l.company_facebook_height}}{{ l.company_facebook_height }}{{/l.company_facebook_height}}{{^l.company_facebook_height}}500{{/l.company_facebook_height}}"
  data-hide-cover="{{#l.company_facebook_hide_cover}}{{ l.company_facebook_hide_cover }}{{/l.company_facebook_hide_cover}}{{^l.company_facebook_hide_cover}}false{{/l.company_facebook_hide_cover}}"
  data-show-facepile="{{#l.company_facebook_show_facepile}}{{ l.company_facebook_show_facepile }}{{/l.company_facebook_show_facepile}}{{^l.company_facebook_show_facepile}}false{{/l.company_facebook_show_facepile}}"
  data-small-header="{{#l.company_facebook_small_header}}{{ l.company_facebook_small_header }}{{/l.company_facebook_small_header}}{{^l.company_facebook_small_header}}true{{/l.company_facebook_small_header}}"
  data-hide-cta="true"
  data-adapt-container-width="true"
></div>

{{/l.company_facebook}}
