<a class="webshare" aria-hidden="true" data-admin-tooltip="webshare_button" style="display:none;font-size:1.2em;width:100%">{{ l.webshare_button }}</a>

<script>
  // touch devices only
  if ("ontouchstart" in window || window.DocumentTouch && document instanceof DocumentTouch) {

    // feature detection
    if (navigator.share) {
      if (typeof window.WebShare !== "function") window.WebShare = function (text, url, title) {
        url = url || (document.querySelector("link[rel=canonical]") ?
          document.querySelector("link[rel=canonical]").href : document.location.href);
        title = title || document.title;
        text = text || document.title;
        navigator.share({
          title: title,
          text: text,
          url: url,
        }).catch(console.error);
      }

      if (typeof window.WebShareFactory !== "function") window.WebShareFactory = function (text, url, title) {
        text = text || "";
        url = url || "";
        title = title || "";
        text = text.replace(new RegExp(/['\"\n\r]*/, "g"), "");
        url = url.replace(new RegExp(/['\"\n\r\s]*/, "g"), "");
        title = title.replace(new RegExp(/['\"\n\r]*/, "g"), "");
        return '<a onclick="window.WebShare(\''
          + text + '\', \''
          + url + '\', \''
          + title + '\')" href="/" class="webshareicon" aria-hidden="true" style="display:inline-block;margin:8px"></a>';
      }

      var el = document.getElementsByClassName("webshare");
      for (var i = 0; i < el.length; i++) {
        el[i].style.display = "block";
        el[i].addEventListener("click", function () {
          window.WebShare();
        });
      }
    }
  }

</script>
