defaults:
  assert_httpcode: 200
  assert_json: false
  assert_minlength: false
  language: en
  method: GET
  presenter: home
  sitemap: false
  template: mini
  view: home

sitemap:
  path: /sitemap.txt
  presenter: core

swjs:
  path: /sw.js
  presenter: core

error:
  path: '/err/[a:code]'
  presenter: error
