home:
  language: en
  path: /
  presenter: mini
  sitemap: true

api1:
  path: "/api/v1/[a:call]"
  presenter: api
  assert_json: true

api2:
  path: "/api/v1/[a:call]/[**:trailing]"
  presenter: api
  assert_json: true
