home:
  language: en
  path: /
  presenter: mini
  sitemap: true

api1:
  path: "/api/v1/[a:call]"
  api_description: "API call example #1"
  presenter: api
  assert_json: true
  api: true

api2:
  path: "/api/v1/[a:call]/[**:trailing]"
  api_description: "API call example #2"
  presenter: api
  assert_json: true
  api: true
