defaults:
  api: false
  api_description: ""
  api_info: ""
  api_example: []
  assert_httpcode: 200
  assert_json: false
  assert_values: []
  language: en
  method: GET
  presenter: home
  sitemap: false
  template: index
  view: home
  use_key: false
  private: false

sitemap:
  path: /sitemap.txt
  presenter: core

swjs:
  path: /sw.js
  presenter: core

error:
  path: '/err/[a:code]'
  presenter: error

api:
  path: /api
  api: true
  api_description: "Show public REST API list"
  api_info: "Exactly this page :)"
  presenter: core
