# @author Fred Brooker <git@gscloud.cz>
# admin routes, mandatory for administration - see AdminPresenter.php

admin:
  method: GET|POST|DELETE
  path: '/admin/[a:p]'
  presenter: admin

login:
  assert_httpcode: 303
  path: /login
  presenter: login

logout:
  assert_httpcode: 303
  path: /logout
  presenter: logout
