<div class="container center">
  <section class="login-section">
    {{>login}}
  </section>
  <h1 class="hidden">{{ l.title }}</h1>
</div>
<div class="container">
  <p>{{ l.readme }}</p>
</div>

<script>
(function (w, $, undefined) {

  // add nonce to all anchors
  $('.container').find('a').each(function() {
    var h = $(this).attr('href');
    if (h.indexOf('?') == -1) $(this).attr('href', h + '?nonce=' + Math.round(Math.random() * 10000));
  });

})(window, $);
</script>