{{>gscloud_functions}}

<style>
{{>body_css}}
{{>###body_css_debug}}
</style>

{{^user.id}}
<div class="container">
  <div class="float-right center">
    {{>login}}
  </div>
  <div class="row">
    <div class="column">
      <h1 class="hidden">{{ l.title }}</h1>
      <a id="fullscreen" class="button" href="#" onclick="blur();"><i class="material-icons md-18">fullscreen</i> fullscreen</a>
      <h2>{{ l.title }}</h2>
      <p>{{ l.readme }}</p>
    </div>
  </div>
</div>
{{/user.id}}

{{#user.id}}
<div class="container">
  <div class="row">
    <div class="column column-20 center">
      {{>logout}}
    </div>
    <div class="column column-80">
      <h1 class="hidden">{{ l.title }}</h1>
      <a id="fullscreen" class="button" href="#"><i class="material-icons md-18">fullscreen</i> fullscreen</a>
      <h2>{{ l.title }}</h2>
      <p>{{ l.readme }}</p>
    </div>
  </div>
</div>
{{/user.id}}

<script>
(function (w, $, undefined) {
  'use strict';

  // fn GSC.FullScreen()
  if (typeof w.GSC.FullScreen != "function") w.GSC.FullScreen = function() {
    if (document.fullscreenElement) {
      document.exitFullscreen();
    } else {
      document.documentElement.requestFullscreen();
    }
  }

  // add nonce to all anchors
  $('.container').find('a').each(function() {
    var h = $(this).attr('href');
    var nonce = '?nonce=' + Math.round(Math.random() * 10000);
    if (h.indexOf('?') == -1) $(this).attr('href', h + nonce);
  });

  // action on fullscreen button
  $("#fullscreen").click(function () {
    GSC.FullScreen()
  });

})(window, $);

</script>