body{width:100%;display:block;font-family:'IBM Plex Mono',monospace}
.hidden{display:none}
.material-icons.md-18{font-size:18px}
.material-icons.md-24{font-size:24px}
.material-icons.md-36{font-size:36px}
.material-icons.md-48{font-size:48px}
.center{text-align:center}