<!-- fonts, frameworks etc. put here! -->
<link rel="stylesheet" href="{{ cdn }}/css/milligram.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap">

<style type="text/css">
body {-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}
</style>