<link rel="apple-touch-startup-image" href="{{ cdn }}/img/logo.webp" type="image/webp">
<link rel="apple-touch-icon" href="{{ cdn }}/img/favicon-152.webp" type="image/webp" sizes="152x152">
<link rel="apple-touch-icon" href="{{ cdn }}/img/favicon-167.webp" type="image/webp" sizes="167x167">
<link rel="apple-touch-icon" href="{{ cdn }}/img/favicon-180.webp" type="image/webp" sizes="180x180">
<link rel="icon" href="{{ cdn }}/img/favicon-16.webp" type="image/webp" sizes="16x16">
<link rel="icon" href="{{ cdn }}/img/favicon-24.webp" type="image/webp" sizes="24x24">
<link rel="icon" href="{{ cdn }}/img/favicon-29.webp" type="image/webp" sizes="29x29">
<link rel="icon" href="{{ cdn }}/img/favicon-32.webp" type="image/webp" sizes="32x32">
<link rel="icon" href="{{ cdn }}/img/favicon-40.webp" type="image/webp" sizes="40x40">
<link rel="icon" href="{{ cdn }}/img/favicon-48.webp" type="image/webp" sizes="48x48">
<link rel="icon" href="{{ cdn }}/img/favicon-57.webp" type="image/webp" sizes="57x57">
<link rel="icon" href="{{ cdn }}/img/favicon-58.webp" type="image/webp" sizes="58x58">
<link rel="icon" href="{{ cdn }}/img/favicon-60.webp" type="image/webp" sizes="60x60">
<link rel="icon" href="{{ cdn }}/img/favicon-64.webp" type="image/webp" sizes="64x64">
<link rel="icon" href="{{ cdn }}/img/favicon-70.webp" type="image/webp" sizes="70x70">
<link rel="icon" href="{{ cdn }}/img/favicon-72.webp" type="image/webp" sizes="72x72">
<link rel="icon" href="{{ cdn }}/img/favicon-76.webp" type="image/webp" sizes="76x76">
<link rel="icon" href="{{ cdn }}/img/favicon-87.webp" type="image/webp" sizes="87x87">
<link rel="icon" href="{{ cdn }}/img/favicon-96.webp" type="image/webp" sizes="96x96">
<link rel="icon" href="{{ cdn }}/img/favicon-114.webp" type="image/webp" sizes="114x114">
<link rel="icon" href="{{ cdn }}/img/favicon-120.webp" type="image/webp" sizes="120x120">
<link rel="icon" href="{{ cdn }}/img/favicon-128.webp" type="image/webp" sizes="128x128">
<link rel="icon" href="{{ cdn }}/img/favicon-144.webp" type="image/webp" sizes="144x144">
<link rel="icon" href="{{ cdn }}/img/favicon-150.webp" type="image/webp" sizes="150x150">
<link rel="icon" href="{{ cdn }}/img/favicon-152.webp" type="image/webp" sizes="152x152">
<link rel="icon" href="{{ cdn }}/img/favicon-167.webp" type="image/webp" sizes="167x167">
<link rel="icon" href="{{ cdn }}/img/favicon-180.webp" type="image/webp" sizes="180x180">
<link rel="icon" href="{{ cdn }}/img/favicon-192.webp" type="image/webp" sizes="192x192">
<link rel="icon" href="{{ cdn }}/img/favicon-196.webp" type="image/webp" sizes="196x196">
<link rel="icon" href="{{ cdn }}/img/favicon-256.webp" type="image/webp" sizes="256x256">
<link rel="icon" href="{{ cdn }}/img/favicon-310.webp" type="image/webp" sizes="310x310">
<link rel="icon" href="{{ cdn }}/img/favicon-320.webp" type="image/webp" sizes="320x320">
