<link rel="apple-touch-icon" href="{{ cdn }}/img/favicon-152.png" type="image/png" sizes="152x152">
<link rel="apple-touch-icon" href="{{ cdn }}/img/favicon-167.png" type="image/png" sizes="167x167">
<link rel="apple-touch-icon" href="{{ cdn }}/img/favicon-180.png" type="image/png" sizes="180x180">
<link rel="apple-touch-startup-image" href="{{ cdn }}/img/logo.png" type="image/png">
<link rel="icon" href="{{ cdn }}/img/favicon-16.png" type="image/png" sizes="16x16">
<link rel="icon" href="{{ cdn }}/img/favicon-24.png" type="image/png" sizes="24x24">
<link rel="icon" href="{{ cdn }}/img/favicon-29.png" type="image/png" sizes="29x29">
<link rel="icon" href="{{ cdn }}/img/favicon-32.png" type="image/png" sizes="32x32">
<link rel="icon" href="{{ cdn }}/img/favicon-40.png" type="image/png" sizes="40x40">
<link rel="icon" href="{{ cdn }}/img/favicon-48.png" type="image/png" sizes="48x48">
<link rel="icon" href="{{ cdn }}/img/favicon-57.png" type="image/png" sizes="57x57">
<link rel="icon" href="{{ cdn }}/img/favicon-58.png" type="image/png" sizes="58x58">
<link rel="icon" href="{{ cdn }}/img/favicon-60.png" type="image/png" sizes="60x60">
<link rel="icon" href="{{ cdn }}/img/favicon-64.png" type="image/png" sizes="64x64">
<link rel="icon" href="{{ cdn }}/img/favicon-70.png" type="image/png" sizes="70x70">
<link rel="icon" href="{{ cdn }}/img/favicon-72.png" type="image/png" sizes="72x72">
<link rel="icon" href="{{ cdn }}/img/favicon-76.png" type="image/png" sizes="76x76">
<link rel="icon" href="{{ cdn }}/img/favicon-87.png" type="image/png" sizes="87x87">
<link rel="icon" href="{{ cdn }}/img/favicon-96.png" type="image/png" sizes="96x96">
<link rel="icon" href="{{ cdn }}/img/favicon-114.png" type="image/png" sizes="114x114">
<link rel="icon" href="{{ cdn }}/img/favicon-120.png" type="image/png" sizes="120x120">
<link rel="icon" href="{{ cdn }}/img/favicon-128.png" type="image/png" sizes="128x128">
<link rel="icon" href="{{ cdn }}/img/favicon-144.png" type="image/png" sizes="144x144">
<link rel="icon" href="{{ cdn }}/img/favicon-150.png" type="image/png" sizes="150x150">
<link rel="icon" href="{{ cdn }}/img/favicon-152.png" type="image/png" sizes="152x152">
<link rel="icon" href="{{ cdn }}/img/favicon-167.png" type="image/png" sizes="167x167">
<link rel="icon" href="{{ cdn }}/img/favicon-180.png" type="image/png" sizes="180x180">
<link rel="icon" href="{{ cdn }}/img/favicon-192.png" type="image/png" sizes="192x192">
<link rel="icon" href="{{ cdn }}/img/favicon-196.png" type="image/png" sizes="196x196">
<link rel="icon" href="{{ cdn }}/img/favicon-256.png" type="image/png" sizes="256x256">
<link rel="icon" href="{{ cdn }}/img/favicon-310.png" type="image/png" sizes="310x310">
<link rel="icon" href="{{ cdn }}/img/favicon-320.png" type="image/png" sizes="320x320">
