{{^LOCALHOST}}
{{#google.UA}}
<script src="https://www.googletagmanager.com/gtag/js?id={{ google.UA }}" async></script>
<script>
window.dataLayer=window.dataLayer||[];
function gtag(){dataLayer.push(arguments);}
gtag("js",new Date());gtag("config","{{ google.UA }}");
</script>
{{/google.UA}}
{{/LOCALHOST}}
