{{#LOCALHOST}}
{{#local_goauth_redirect}}
<a href="{{ local_goauth_redirect }}">{{ l.a_login }}
<i class="material-icons md-48">cloud</i><br><b>GOOGLE<br>LOGIN</b></a>
{{/local_goauth_redirect}}
{{/LOCALHOST}}

{{^LOCALHOST}}
{{#goauth_redirect}}
<a href="{{ goauth_redirect }}">{{ l.a_login }}
<i class="material-icons md-48">cloud</i><br><b>GOOGLE<br>LOGIN</b></a>
{{/goauth_redirect}}
{{/LOCALHOST}}
