{{#LOCALHOST}}
{{#local_goauth_redirect}}
<a href="{{ local_goauth_redirect }}?relogin=1" class="waves-effect waves-light red btn-large">{{
  l.a_login }}<i class="material-icons md-48">cloud</i><br><b>Login</b></a>
{{/local_goauth_redirect}}
{{/LOCALHOST}}

{{^LOCALHOST}}
{{#goauth_redirect}}
<a href="{{ goauth_redirect }}?relogin=1" class="waves-effect waves-light red btn-large">{{
  l.a_login }}<i class="material-icons md-48">cloud</i><br><b>Login</b></a>
{{/goauth_redirect}}
{{/LOCALHOST}}


{{#admin_group_default}}

<h4>{{ user.name }}</h4>
<br>
<img class="responsive-img" src="{{ user.avatar }}" alt="{{ user.name }}">
<br>
Google ID: {{ user.id }}
<br>
e-mail: <strong>{{ user.email }}</strong>
<br>
<br>

{{#LOCALHOST}}
{{#local_goauth_redirect}}
<a href="{{ local_goauth_redirect }}?nonce={{#sha256_nonce}}1234{{/sha256_nonce}}&relogin=true" class="waves-effect waves-light red btn-large z-depth-3">{{
  l.a_relogin }}<i class="material-icons right">cloud</i></a>
{{/local_goauth_redirect}}
{{/LOCALHOST}}

{{^LOCALHOST}}
{{#goauth_redirect}}
<a href="{{ goauth_redirect }}?nonce={{#sha256_nonce}}1234{{/sha256_nonce}}&relogin=true" class="waves-effect waves-light red btn-large z-depth-3">{{
  l.a_relogin }}<i class="material-icons right">cloud</i></a>
{{/goauth_redirect}}
{{/LOCALHOST}}

{{/admin_group_default}}

{{^admin_group_default}}

<h4>{{ user.name }}</h4>
<br>
Google ID: {{ user.id }}
<br>
e-mail: <strong>{{ user.email }}</strong>

{{/admin_group_default}}
