<div class="container">
  <div class="float-right">

    {{#LOCALHOST}}
    {{#local_goauth_redirect}}
    <a href="{{ local_goauth_redirect }}">
      <img alt="LOGIN" title="LOGIN" src="/img/google_signin.png" height=32>
    </a>
    {{/local_goauth_redirect}}
    {{/LOCALHOST}}

    {{^LOCALHOST}}
    {{#goauth_redirect}}
    <a href="{{ goauth_redirect }}">
      <img alt="LOGIN" title="LOGIN" src="/img/google_signin.png" height=32>
    </a>
    {{/goauth_redirect}}
    {{/LOCALHOST}}

  </div>
</div>
