<a href="/logout">
{{ l.a_login }}<i class="material-icons md-48">cloud</i><br><b>LOGOUT</b></a>

<h4>{{ user.name }}</h4>
<img width=100 src="{{ user.avatar }}" alt="{{ user.name }}"><br><br>
<span style="font-size:10px">{{ user.id }}</span><br>
<strong>{{ user.email }}</strong><br><br>

{{#LOCALHOST}}
{{#local_goauth_redirect}}
<a href="{{ local_goauth_redirect }}?relogin=1">{{
  l.a_login }}<i class="material-icons md-48">cloud</i><br><b>NEW LOGIN</b></a>
{{/local_goauth_redirect}}
{{/LOCALHOST}}

{{^LOCALHOST}}
{{#goauth_redirect}}
<a href="{{ goauth_redirect }}?relogin=1">{{
  l.a_login }}<i class="material-icons md-48">cloud</i><br><b>NEW LOGIN</b></a>
{{/goauth_redirect}}
{{/LOCALHOST}}
