<div class="container">
  <div class="center">
    <a href="/logout">
      <img alt="LOGOUT" title="LOGOUT" src="/img/g.png" height=32>
      <br>
      <b class="bla">LOGOUT</b>
    </a>
    <br>
    <b>{{ user.name }}</b><br>
    <small>{{ user.email }}</small><br>
    {{#LOCALHOST}}
    {{#local_goauth_redirect}}
    <a href="{{ local_goauth_redirect }}?relogin">
      <img alt="NEW LOGIN" title="NEW LOGIN" src="/img/google_signin.png" height=32>
    </a>
    {{/local_goauth_redirect}}
    {{/LOCALHOST}}
    {{^LOCALHOST}}
    {{#goauth_redirect}}
    <a href="{{ goauth_redirect }}?relogin">
      <img alt="NEW LOGIN" title="NEW LOGIN" src="/img/google_signin.png" height=32>
    </a>
    {{/goauth_redirect}}
    {{/LOCALHOST}}
  </div>
</div>
