<div class="container" style="z-index:10000">
  <div class="float-right">
    <b>{{ user.name }}</b>
    <br>
    <span>{{ user.email }}</span>
    <br>
    <a href="/logout">
      {{ l.a_login }}
      <i class="material-icons md-48 bla">cloud</i><br><b class="bla">LOGOUT</b></a><br>
    {{#LOCALHOST}}
    {{#local_goauth_redirect}}
    <a href="{{ local_goauth_redirect }}?relogin">
      {{ l.a_login }}
      <i class="material-icons md-48">cloud</i><br><b>NEW LOGIN</b></a>
    {{/local_goauth_redirect}}
    {{/LOCALHOST}}
    {{^LOCALHOST}}
    {{#goauth_redirect}}
    <a href="{{ goauth_redirect }}?relogin">
      {{ l.a_login }}
      <i class="material-icons md-48">cloud</i><br><b>NEW LOGIN</b></a>
    {{/goauth_redirect}}
    {{/LOCALHOST}}
  </div>
</div>
